.main-back {
  -fx-background-image: url("/sample/images/back4.jpg");
  -fx-background-size: inherit;

}

.options {
  -fx-background-image: url("/sample/images/optns.png");
  -fx-background-size: 15px,15px;
}